[Desktop Entry]
Name=Update System
Name[it]=Aggiornamento Sistema
GenericName=Update Debian with Nala
GenericName[it]=Aggiorna Debian con Nala
Comment=High-visibility system updater for APT, Flatpak, and Snap
Exec=updatesys
Icon=updatesys
Terminal=false
Type=Application
Categories=System;Settings;Utility;
StartupNotify=true
Version=1.1
