[Desktop Entry]
Name=Update System
Name[it]=Aggiornamento Sistema
GenericName=System Updater
GenericName[en_GB]=Update Debian with Nala
Comment=High-visibility system updater for APT, Flatpak, and Snap
Exec=updatesys
Icon=updatesys
Terminal=false
Type=Application
Categories=System;Settings;Utility;
Keywords=update;upgrade;nala;apt;system;
StartupNotify=true
Version=1.0
